.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    /*height:300px; *//* Could be more or less, depending on screen size */
     border-style: solid;
    border-color: white;
    border-radius: 8px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	-webkit-transition:color .1s ease;
	-ms-transition:color .1s ease;
	transition:color .1s ease;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
	-webkit-transition:color .1s ease;
	-ms-transition:color .1s ease;
	transition:color .1s ease;
}

.regbtns
{
    background-color: #333333;
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    width: 95%;
	margin: 4px auto;
	border:none;
	-webkit-transition:background .3s ease;
	-ms-transition:background .3s ease;
	transition:background .3s ease;

}
.regbtns:hover
{
    background-color: #448D00;
    color: white;
}
#para_already_signin
{
    margin-top: 3%;
}
#para_already_signin.a:hover
{
    color: red;
}

.imgContainer
{
    text-align: center;

}
.imgonpop
{
	
}

.imgreg {
	width: 50%;
}

#reg-tab {
	width: 100%;
}

#reg-tab td {
	width: 20%;
	position: relative;
}

@media only screen and (max-width: 1080px)
{

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.modal
{
    overflow-x: hidden;
    z-index:2000;
    font-size: 1.7em;
}

#reg-tab td {
	display: block;
	width: 100%;
}

#reg-tab {
	width: 100%;
}

.imgreg
{
    width:100%;
    height: auto;
    margin-top: 5%;
}

.modal-content
{
    width:80%;
    margin-left: 10%
}
.regbtns
{
	height: 3em;
    border-radius: .5em;
	font-size: 1em;
	width: 90%;
	margin: 5px auto;
}

 table tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }
	

.imgContainer {
	width: 50%;
	margin: 0px auto;
}

.close {
	font-size: 2em;
}



}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #333333;
}