.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    /*height:300px; *//* Could be more or less, depending on screen size */
     border-style: solid;
    border-color: white;
    border-radius: 8px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.regbtns
{
    background-color: #333333;
    color: white;
    padding: 10px 10px;
    margin-left: 2.5em;
    border-radius: 6px;
    width: 150px;

}
.regbtns:hover
{
    background-color: #4CAF50;
    color: white;
}
#para_already_signin
{
    margin-top: 3%;
}
#para_already_signin.a:hover
{
    color: red;
}

.imgcontainer
{
    text-align: center;

}
.imgonpop
{
    margin-left:2.5em;

}


@media only screen and (max-width: 1080px)
{
    html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.modal
{
    overflow-x: hidden;
    z-index:100;
    font-size: 1.7em;
}

.imgreg
{
    width:35%;
    height: auto;
    margin-top: 5%;
}

.modal-content
{
    width:80%;
    margin-left: 10%
}
.regbtns
{
    font-size: 1.5em;
    width: 60%;
    height: auto;
    border-radius: .5em;

}

 table tr > *{
        display: block;
    }
    table tr {
        display: table-cell;
    }

}
