.about {
	width: 85%;
	background-color: #fff;
	border-radius: 2px;
	position: relative;
	margin: 1em auto;
}

.abt-ele {
	display:block;
	width: 92%;
	margin: 0 4%;
	overflow: auto;
}

.abt-ele hr {
	width: 30%;
	margin: 0.5em auto;
	background-color: #448D00;
	height: 1.8px;
	border: 0px;
}

.abt-ele > p {
	margin: 2em 1em;
	line-height: 1.5;
	text-indent: 2em;
	
}

.abt-ele h2 {
	color: #333;
	text-align:center;
}

.faq ol
{
	visibility:visible;
	margin: 2em 0em;
	line-height:1.5;
	-webkit-padding-start: 0px;
}

.faq > ol > li
{
	list-style-type: none;
	border: 1px solid #448D00;
	padding: 3%;
	border-radius: 3px;
	width: 91%;
	position: relative;
	margin: 1em auto;
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
}

.faq > ol > li:hover
{
	-moz-box-shadow: 0 0 8px #777777;
	-webkit-box-shadow: 0 0 8px #777777;
	box-shadow: 0 0 8px #777777;
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
}

.faq ul li
{
	list-style-type: disc;
}

.faq li
{
	margin: 1em 0em;
}

p.ques
{
	font-weight: bold;
	text-indent: 0em;
	margin: 0;
	margin-bottom: 1em;
}
#faqsrc {
	text-align: center;
	margin: 1em auto;
}

#faqsrc a {
	text-decoration: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 1000px)
{
	.about {
		width: 95%;
	}
.faq > ol > li
{
	list-style-type: none;
	border: 1px solid #448D00;
	padding: 5%;
	border-radius: 3px;
	width: 87%;
	position: relative;
	margin: 1em auto;
}

}