.about {
	width: 85%;
	background-color: #fff;
	border-radius: 2px;
	position: relative;
	margin: auto;
	overflow:auto;
}

.abt-ele {
	display:block;
	margin: 4%;
	overflow: auto;
}

.abt-ele hr {
	width: 30%;
	margin: 0.5em auto;
	background-color: #448D00;
	height: 1.5px;
	border: 0px;
}

.abt-ele p {
	margin: 2em 0em;
	line-height: 1.5;
	text-indent: 2em;
	
}

.abt-ele h2 {
	color: #333;
	text-align:center;
}

.faq ol
{
	visibility:visible;
	margin: 1em 0em;
}

.faq ol li
{
	list-style-type:decimal;
}

.faq ul li
{
	list-style-type: disc;
}

.faq li
{
	margin: 1em 0em;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 1000px)
{
	.about {
		width: 95%;
	}
	.abt-ele{
		margin: 5%;
	}
}